@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:wght@100;200;300;400;500;600;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar{
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  padding: 1em;
  font-family: 'Rubik';
  margin-left: -250px;
  font-size: 19px;
  margin-top: -70px;
  
}

.navbar_icon a{
  text-decoration: none;
  color: #000000;
}


.navbar_logo{
  font-size: 15px;
  margin-left:25px;

}

.navbar_icon{
  display: flex;
  justify-content: center;
  list-style-type: none;
  font-size: 22px;
  cursor: pointer;
  margin-top: 2%;
  margin-left: 10%;
}

.navbar_icon li{
  margin: 0 8px;

  
  
}

.navbar .nav-list {
  display: flex;
  list-style: none;
  align-items: center;
  margin-left: -35px;
}

.navbar .nav-list .item {
  margin-left: 70px;
  cursor: pointer;
  
}

.nav-list li{
text-decoration: none;
color: #000000;

}

.nav-list a{
text-decoration: none;

}

#item1::after {
content: '';
width: 0%;
height: 2px;
background: #185830;
position: absolute;
transform: translateX(-50%);
transition: 0.5s;
margin-top: 24px;
margin-left: -25px;
}

#item1:hover::after {
width: 5%;
}

#item2::after {
content: '';
width: 0%;
height: 2px;
background: #185830;
position: absolute;
transform: translateX(-50%);
transition: 0.5s;
margin-top: 24px;
margin-left: -26px;
}

#item2:hover::after {
width: 5%;
}

#item3::after {
content: '';
width: 0%;
height: 2px;
background: #185830;
position: absolute;
transform: translateX(-50%);
transition: 0.5s;
margin-top: 24px;
margin-left: -33px;
}

#item3:hover::after {
width: 6%;
}

#item4::after {
content: '';
width: 0%;
height: 2px;
background: #185830;
position: absolute;
transform: translateX(-50%);
transition: 0.5s;
margin-top: 24px;
margin-left: -17px;
}

#item4:hover::after {
width: 3.5%;
}

#item5::after {
content: '';
width: 0%;
height: 2px;
background: #185830;
position: absolute;
transform: translateX(-50%);
transition: 0.5s;
margin-top: 24px;
margin-left: -30px;
}

#item5:hover::after {
width: 5.5%;
}

#item6::after {
content: '';
width: 0%;
height: 2px;
background: #185830;
position: absolute;
transform: translateX(-50%);
transition: 0.5s;
margin-top: 24px;
margin-left: -56px;
}

#item6:hover::after {
width: 9%;
}


.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-left: 1000px;
  margin-top: -70px;
  margin-bottom: 60px;
  font-family: 'Rubik';

}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #242424;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 10em;
  height: 20px;
  transition: all ease-in-out .5s;
  margin-right: -2.5rem;
}

.search__input:hover, .search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 300;
  color: #837c7c;
  font-size: 15.5px;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}
.search i{
position: absolute;
margin-left:160px;
color: #5a5a5a;
}

.navbar_icon{
margin-left: 1140px;
margin-top: -90px;
margin-bottom: 50px;
color: #474747;
}


.navbar_icon i{
  font-size: 20px;
  cursor: pointer;
  margin-left: 15px;

}

.navbar_icon i:hover{
  color: #185830;
}

footer{
  text-align: center;
  font-family: 'Rubik';
  margin-bottom: -10px;
}

.footer_top{
  background-color: #BFE1C1;
  color: #185830;
  padding: 1px;
  border-radius: 40px 50px 0 0;
  margin-top: 5%;
  width: 101%;
  margin-left: -8px;

}

.footer_top button{
  background: #185830;
  color: #ffffff;
  width: 350px;
  height: 40px;
  font-size:18px ;
  border: none;
  font-family: 'Rubik';
  border-radius: 12px;
  cursor: pointer;
  margin-top: 2%;
}


.footer_bottom{
  background-color: #185830;
  color: #fff;
  padding: 10px;
  width: 99.6%;
  height: 140px;
  margin-left: -8px;
  font-family: 'Rubik';
}

.footer_bottom li{
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-top: 30px;

}

.list {
  display: flex;
  list-style: none;
  align-items: center;
}

.footer_bottom h3{
  color: #fff;
  font-size: 45px;
  font-family: 'Rubik';
  font-weight: 200;
  margin-top: -95px;
  text-decoration: underline 2px #fff;
  text-underline-offset: 15px;
  margin-left: 990px;
 
}

.footer_bottom p{
  font-family: 'Rubik';
  font-weight: 300;
  margin-left: 1000px;
}



.footer_box_container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap:2rem;
}
.footer_box_container_box h3{
  font-size: 1.2rem;
  color: var(--black);
  padding: 1rem 0;
 
}

.footer_box_container_box a{
display:block;
font-size: 1rem;
color: #185830;
padding: 0.7rem;
cursor:pointer;
text-decoration: none;
top: 5px;
}

.footer_box_container_box a {
  text-decoration: none;
  margin-bottom: 8px;
  
}

.footer_credit{
  text-align: center;
  font-size: 1rem;
  color: #fff;
}
.footer_credit{
  color: #000000;
}

.footer_box_container_box i{
  font-size: 22px;

} 

.footer_bottom li{
  margin-top: 45px;
  font-weight: 500;
}

.footer_box_container_box h3{
  font-weight: 400;

}
.footer_bottom .list a{
  text-decoration: none;
  color: white;

}


.slider{
  margin: 0 auto;
  width: 1200px;
  height: 400px;
  overflow: hidden;
  border-radius: 30px;
  margin-left: 68px;

}


.box{
  background: #8966ac54;
  border-radius: 35px;
  border: .4rem;
  padding: 3rem;
  outline: none;
  color: dimgray;
  width: 1100px;
  height: 500px;
  margin-top: 3%;
  margin-left: 70px;
}

.box img{
  width: 450px;
  height: 550px;
  margin-top: -25px;
  border-radius: 35px;
  margin-left: -20px;
}

.box h2{
  font-size: 60px;
  font-family: 'Nexa';
  color: #000000;
  font-weight: 300;
  margin-left: 450px;
  margin-top: -470px;
  text-align: center;
}

.box span{
  color: #AF29F7;
}

.box p{
  color: #313131;
  font-size: 25px;
  font-family: 'Rubik';
  margin-left: 625px;
  font-weight: 300;
}

.box button{
  width: 200px;
  height: 45px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 2px 2px 7px 0 #8966AC;
  outline: none;
  font-size: 18px;
  color: #AF29F7;
  margin-left: 680px;
  margin-top: 50px;
  border-width: 0;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  font-weight: 500;
}

.box button:hover{
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
  color: #AF29F7;
}

.segunda-parte img{
  border-radius: 40px;
  margin-top: 120px;
  margin-left: 180px;
  width: 400px;
}

.segunda-parte h3{
  font-family: 'Nexa';
  font-size: 45px;
  font-weight: 200;
  margin-left: 750px;
  margin-top: -270px;
}

.segunda-parte span{
  color: #AF29F7;
}

.icones-iniciais{
  margin-top: 230px;
  display: flex;
  width: 100vw;
  justify-content: space-around;
  margin-left: -95px;
  font-family: 'Rubik';
  font-weight: 400;
}

.image-icone img{
  margin-left: 190px;
}

.terceira-parte h2{
  font-family: 'Nexa';
  font-size: 45px;
  font-weight: 200;
  text-align: center;
  margin-top: 180px;
}

.terceira-parte span{
  color: #AF29F7;
}

.box-terceiro{
  background: #ffffff;
  border-radius: 35px;
  border: .4rem;
  padding: 3rem;
  outline: none;
  color: dimgray;
  width: 900px;
  height: 350px;
  margin-top: 5%;
  margin-left: 170px;
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
}

.box-terceiro img{
  width: 110px;
  margin-left: 395px;
}

.box-terceiro h3{
  font-size: 30px;
  font-family: 'Rubik';
  font-weight: 500;
  color: #000000;
  text-align: center;
}

.box-terceiro p{
  font-size: 25px;
  color: #000000;
  font-family: 'Rubik';
  font-weight: 200;
  text-align: justify;
  text-align: center;
}

#menu-btn{
  display: none;
}

@media (max-width:480px){

  body{
    overflow-x: hidden;
  }



  #menu-btn{
      display: inline-block;
      font-size: 20px;
      z-index: 1;
      margin-left: 365px;
      margin-top: 35px;

  }


  .header .navbar{
    position: absolute;
    top: 100%;
    background: hsl(0, 0%, 92%);
    width: 200px;
    height: 430px;
    z-index: 1;
    font-family: 'Rubik';
    display: none;

    
}

.header .navbar .nav-list{
  display: block;
}

.header .navbar .nav-list li{
    color:#000000;
    margin: 50px;
    padding: -12px;
    font-size: 20px;
    margin-top: -5px;
    margin-left: 30px;
    font-weight: 300;

}

  
  .header .navbar.active{ /* Sem espaço */
    right: 0;
    margin-top: -719px;
    display: block;
    position: absolute;

}


.navbar_logo img{
  width: 105px;
  margin-top: 2px;
  margin-bottom: 50px;
  position: absolute;
  margin-left: -15px;


}

.header{
  align-items: center;

}

.search{
  margin-left: 135px;
  margin-top: -27px;
  position: absolute;
}

.search input{
  width: 105px;
  height: 12px;
  padding-top: 8px;
  
}

.search i{
  margin-left: 110px;
  font-size: 12px;
  margin-top:-2px;
}

.search__input::-webkit-input-placeholder {
  font-weight: 400;
  color: #837c7c;
  font-size: 11.5px;
 
}

.navbar_icon{
  margin-left: 290px;
  position: absolute;
}

.navbar_icon i{
  font-size: 17px;
  margin-left: 8px;
  margin-top: 70px;
}

footer{
  text-align: center;
  font-family: 'Rubik';
  margin-bottom: -20px;

}

footer .footer_top{
  background-color: #BFE1C1;
  color: #185830;
  padding: 1px;
  margin-top: 5%;
  width: 415px;
  height: 210px;
}

footer .footer_top button{
  background: #185830;
  color: #ffffff;
  width: 150px;
  height: 25px;
  font-size:12px ;
  border: none;
  font-family: 'Rubik';
  border-radius: 7px;
  cursor: pointer;
  margin-top: 2%;
}


footer .footer_bottom{
  background-color: #185830;
  color: #fff;
  padding: 10px;
  width: 397px;
  height: 60px;
  margin-left: -8px;
  font-family: 'Rubik';
}

footer .footer_bottom li{
  font-size: 11px;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  
}

footer .nav-list {
  display: flex;
  list-style: none;
  align-items: center;
}

footer .footer_bottom h3{
  color: #fff;
  font-size: 18px;
  font-family: 'Rubik';
  font-weight: 200;
  margin-top: -65px;
  text-decoration: underline 2px #fff;
  text-underline-offset: 15px;
  margin-left: 300px;
 
}

footer .footer_bottom p{
  font-family: 'Rubik';
  font-weight: 300;
  margin-left: 210px;
  font-size: 9px;
  margin-top: 20px;
}



footer .footer_box_container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  gap:1rem;
}
footer .footer_box_container_box h3{
  font-size: 10px;
  padding: 1rem 0;
  margin-left: -1px;
 
}

footer .footer_box_container_box a{
display:block;
font-size: 9px;
color: #185830;
padding: 0.3rem;
cursor:pointer;
text-decoration: none;
top: 5px;
}

footer .footer_box_container_box a {
  text-decoration: none;
  margin-bottom: 8px;
  
}

footer .footer_credit{
  text-align: center;
  font-size: 9px;
  color: #fff;
  
}
footer .footer_credit{
  color: #000000;
}

footer .footer_box_container_box i{
  font-size: 13px;

} 

footer .footer_bottom li{
  margin-top: 8px;
  font-weight: 500;
  margin-left: -20px;
  font-size: 9px;

}

footer .footer_bottom .list a{
  text-decoration: none;
  color: white;
}

.box{
  width: 220px;
  height: 90px;
  border-radius: 20px;
  margin-left: 35px;
  margin-top: 10%;
}

.box img{
  width: 100px;
  height: 140px;
  border-radius: 10px;
}

.box h2{
  font-size: 20px;
  margin-left: 70px;
  margin-right: -50px;
  margin-top: -140px;
  font-weight: 500;
}

.box p{
  font-size: 13px;
  margin-left: 130px;
}

.box button{
  width: 65px;
  height: 20px;
  margin-left: 130px;
  border-radius: 6px;
  font-size: 9px;
  margin-top: -10px;
}

.segunda-parte img{
  width: 130px;
  border-radius: 20px;
  margin-left: 35px;
  margin-top: 70px;
}

.segunda-parte h3{
  font-size: 15px;
  margin-left: 200px;
 margin-top: -90px;
}

.image-icone img{
  width: 30px;
  margin-top: 15px;
}

.icones-iniciais p{
  font-size:9px;
  margin-right: -100px;
  margin-left: 240px;
  margin-top: -20px;
  position: absolute;
 

}

.icones-iniciais{
  margin-top: 80px;
  margin-left: -90px;
  display: block;
}

.terceira-parte h2{
  font-size: 22px;
  margin-right: 25px;
  margin-left: 10px;
  margin-top: 15%;
}

.box-terceiro{
  width: 180px;
  height: 100px;
 margin-left: 60px;
}

.box-terceiro img{
  width: 35px;
  margin-left: 70px;
  margin-top: -50px;
}

.box-terceiro h3{
  font-size: 15px;
}

.box-terceiro p{
  font-size: 10px;
}

@media (max-width:400px){

  body{
    overflow-x: hidden;

  }


  #menu-btn{
      display: inline-block;
      font-size: 18px;
      z-index: 1;
      margin-left: 310px;
      margin-top: 35px;

  }

  .header .navbar{
      position: absolute;
      top: 100%;
      background: hsl(0, 0%, 92%);
      width: 200px;
      height: 430px;
      z-index: 1;
      font-family: 'Rubik';
      display: none;
  
      
  }

  .header .navbar .nav-list{
    display: block;
  }

  .header .navbar .nav-list li{
      color:#000000;
      margin: 50px;
      padding: .1rem;
      font-size: 18px;
      margin-top: 17px;
      margin-left: 30px;
      font-weight: 300;
      

  }

  
  .header .navbar.active{ /* Sem espaço */
    right: 0;
    margin-top: -560px;
    display: block;
    position: absolute;

}

.navbar_logo img{
  width: 85px;
  margin-top: 16px;
  margin-bottom: 50px;
  position: absolute;
  margin-left: -15px;


}

.header{
  align-items: center;

}

.search{
  margin-left: 125px;
  margin-top: -25px;
  position: absolute;
}

.search input{
  width: 85px;
  height: 12px;
  padding-top: 8px;
  
}

.search i{
  margin-left: 100px;
  font-size: 10px;
  margin-top:-2px;
}

.search__input::-webkit-input-placeholder {
  font-weight: 400;
  color: #837c7c;
  font-size: 10.5px;
 
}

.navbar_icon{
  margin-left: 250px;
  position: absolute;
}

.navbar_icon i{
  font-size: 15px;
  margin-left: 8px;
  margin-top: 70px;
}

footer{
  text-align: center;
  font-family: 'Rubik';
  margin-top: 45px;

}

footer .footer_top{
  background-color: #BFE1C1;
  color: #185830;
  padding: 1px;
  margin-top: 5%;
  margin-bottom: -40px;
  width: 356px;
  height: 240px;
}

footer .footer_top button{
  background: #185830;
  color: #ffffff;
  width: 150px;
  height: 25px;
  font-size:12px ;
  border: none;
  font-family: 'Rubik';
  border-radius: 7px;
  cursor: pointer;
  margin-top: 2%;
}


footer .footer_bottom{
  background-color: #185830;
  color: #fff;
  padding: 10px;
  width: 338px;
  height: 70px;
  margin-left: -8px;
  font-family: 'Rubik';
}

footer .footer_bottom li{
  font-size: 11px;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  
}

footer .nav-list {
  display: flex;
  list-style: none;
  align-items: center;
}

footer .footer_bottom h3{
  color: #fff;
  font-size: 18px;
  font-family: 'Rubik';
  font-weight: 200;
  margin-top: -65px;
  text-decoration: underline 2px #fff;
  text-underline-offset: 15px;
  margin-left: 210px;
 
}

footer .footer_bottom p{
  font-family: 'Rubik';
  font-weight: 300;
  margin-left: 210px;
  font-size: 9px;
  margin-top: 20px;
}



footer .footer_box_container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
  gap:1rem;
}

footer .footer_box_container_box h3{
  font-size: 10px;
  padding: 1rem 0;
  margin-left: -2px;
 
}

footer .footer_box_container_box a{
display:block;
font-size: 9px;
color: #185830;
padding: 0.3rem;
cursor:pointer;
text-decoration: none;
top: 5px;
}

footer .footer_box_container_box a {
  text-decoration: none;
  margin-bottom: 8px;
  
}

footer .footer_credit{
  text-align: center;
  font-size: 9px;
  color: #fff;
  
}
footer .footer_credit{
  color: #000000;
}

footer .footer_box_container_box i{
  font-size: 13px;

} 

footer .footer_bottom li{
  margin-top: 8px;
  font-weight: 500;
  margin-left: -20px;
  font-size: 9px;

}



footer .footer_bottom .list a{
  text-decoration: none;
  color: white;

}

.box{
  width: 220px;
  height: 90px;
  border-radius: 20px;
  margin-left: 5px;
  margin-top: 10%;
}

.box img{
  width: 100px;
  height: 140px;
  border-radius: 10px;
}

.box h2{
  font-size: 20px;
  margin-left: 70px;
  margin-right: -50px;
  margin-top: -140px;
  font-weight: 500;
}

.box p{
  font-size: 13px;
  margin-left: 130px;
}

.box button{
  width: 65px;
  height: 20px;
  margin-left: 135px;
  border-radius: 6px;
  font-size: 9px;
  margin-top: -10px;
}

.segunda-parte img{
  width: 130px;
  border-radius: 20px;
  margin-left: 10px;
  margin-top: 70px;
}

.segunda-parte h3{
  font-size: 14px;
  margin-left: 160px;
 margin-top: -90px;
}

.image-icone img{
  width: 30px;
  margin-top: 15px;
}

.icones-iniciais p{
  font-size:9px;
  margin-right: -100px;
  margin-left: 240px;
  margin-top: -20px;
  position: absolute;
 

}

.icones-iniciais{
  margin-top: 80px;
  margin-left: -130px;
  display: block;
}

.terceira-parte h2{
  font-size: 22px;
  margin-right: 25px;
  margin-left: 10px;
  margin-top: 15%;
}

.box-terceiro{
  width: 180px;
  height: 100px;
 margin-left: 40px;
}

.box-terceiro img{
  width: 35px;
  margin-left: 70px;
  margin-top: -50px;
}

.box-terceiro h3{
  font-size: 15px;
}

.box-terceiro p{
  font-size: 10px;
}




}
}