@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:wght@100;200;300;400;500;600;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.navbar{
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  padding: 1em;
  font-family: 'Rubik';
  margin-left: -250px;
  font-size: 19px;
  margin-top: -70px;
  
}

.navbar_logo{
  font-size: 15px;
  margin-left:25px;

}

.navbar_icon{
  display: flex;
  justify-content: center;
  list-style-type: none;
  font-size: 22px;
  cursor: pointer;
  margin-top: 2%;
  margin-left: 10%;
}

.navbar_icon li{
  margin: 0 8px;

  
  
}

.navbar .nav-list {
  display: flex;
  list-style: none;
  align-items: center;
  margin-left: -35px;
}

.navbar .nav-list .item {
  margin-left: 70px;
  cursor: pointer;
  
}

.nav-list li{
text-decoration: none;
color: #000000;

}

.nav-list a{
text-decoration: none;

}

#item1::after {
content: '';
width: 0%;
height: 2px;
background: #185830;
position: absolute;
transform: translateX(-50%);
transition: 0.5s;
margin-top: 24px;
margin-left: -25px;
}

#item1:hover::after {
width: 5%;
}

#item2::after {
content: '';
width: 0%;
height: 2px;
background: #185830;
position: absolute;
transform: translateX(-50%);
transition: 0.5s;
margin-top: 24px;
margin-left: -26px;
}

#item2:hover::after {
width: 5%;
}

#item3::after {
content: '';
width: 0%;
height: 2px;
background: #185830;
position: absolute;
transform: translateX(-50%);
transition: 0.5s;
margin-top: 24px;
margin-left: -33px;
}

#item3:hover::after {
width: 6%;
}

#item4::after {
content: '';
width: 0%;
height: 2px;
background: #185830;
position: absolute;
transform: translateX(-50%);
transition: 0.5s;
margin-top: 24px;
margin-left: -17px;
}

#item4:hover::after {
width: 3.5%;
}

#item5::after {
content: '';
width: 0%;
height: 2px;
background: #185830;
position: absolute;
transform: translateX(-50%);
transition: 0.5s;
margin-top: 24px;
margin-left: -30px;
}

#item5:hover::after {
width: 5.5%;
}

#item6::after {
content: '';
width: 0%;
height: 2px;
background: #185830;
position: absolute;
transform: translateX(-50%);
transition: 0.5s;
margin-top: 24px;
margin-left: -56px;
}

#item6:hover::after {
width: 9%;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-left: 1000px;
  margin-top: -70px;
  margin-bottom: 60px;
  font-family: 'Rubik';

}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #242424;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 10em;
  height: 20px;
  transition: all ease-in-out .5s;
  margin-right: -2.5rem;
}

.search__input:hover, .search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 300;
  color: #837c7c;
  font-size: 15.5px;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}
.search i{
position: absolute;
margin-left:160px;
color: #5a5a5a;
}

.navbar_icon{
margin-left: 1140px;
margin-top: -90px;
margin-bottom: 50px;
color: #474747;
}


.navbar_icon i{
  font-size: 20px;
  cursor: pointer;
  margin-left: 15px;

}

.navbar_icon i:hover{
  color: #185830;
}

footer{
    text-align: center;
    font-family: 'Rubik';
    margin-bottom: -10px;
    margin-top: 15%;
  }
  
  .footer_top{
    background-color: #BFE1C1;
    color: #185830;
    padding: 1px;
    border-radius: 40px 50px 0 0;
    margin-top: 5%;
    width: 101%;
    margin-left: -8px;
  
  }
  
  .footer_top button{
    background: #185830;
    color: #ffffff;
    width: 350px;
    height: 40px;
    font-size:18px ;
    border: none;
    font-family: 'Rubik';
    border-radius: 12px;
    cursor: pointer;
    margin-top: 2%;
  }
  
  
  .footer_bottom{
    background-color: #185830;
    color: #fff;
    padding: 10px;
    width: 99.6%;
    height: 140px;
    margin-left: -8px;
    font-family: 'Rubik';
  }
  
  .footer_bottom li{
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-top: 30px;
  
  }
  
  .list {
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .footer_bottom h3{
    color: #fff;
    font-size: 45px;
    font-family: 'Rubik';
    font-weight: 200;
    margin-top: -95px;
    text-decoration: underline 2px #fff;
    text-underline-offset: 15px;
    margin-left: 990px;
   
  }
  
  .footer_bottom p{
    font-family: 'Rubik';
    font-weight: 300;
    margin-left: 1000px;
  }
  
  
  
  .footer_box_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap:2rem;
  }
  .footer_box_container_box h3{
    font-size: 1.2rem;
    color: var(--black);
    padding: 1rem 0;
   
  }
  
  .footer_box_container_box a{
  display:block;
  font-size: 1rem;
  color: #185830;
  padding: 0.7rem;
  cursor:pointer;
  text-decoration: none;
  top: 5px;
  }
  
  .footer_box_container_box a {
    text-decoration: none;
    margin-bottom: 8px;
    
  }
  
  .footer_credit{
    text-align: center;
    font-size: 1rem;
    color: #fff;
  }
  .footer_credit{
    color: #000000;
  }
  
  .footer_box_container_box i{
    font-size: 22px;
  
  } 
  
  .footer_bottom li{
    margin-top: 45px;
    font-weight: 500;
  }

  .footer_bottom .list a{
    text-decoration: none;
    color: white;
  
  }

  #menu-btn{
    display: none;
  }

  .title {
    position: relative;
    left: 19em;
    top: 3em;
    
    
    

}

.title h1 {
    color: #68bf6ef6;
    position: relative;
    font-weight: 300;
    font-family: 'Rubik';
  
   
}

.acessados-media{
  display: none;
}

.title p {
    position: relative;
    font-size: 20px;
    left: 5%;
    font-family: 'Rubik';

}

.box {
    border-radius: 1em;
}

.linksAcessados{
    display: grid;
    gap: 6em;
}

.acessados {
    position: relative;
    border: 2px solid #68bf6e1f;
    border-radius: 1em;
    width: 32%;
    height: 12em;
    /* text-align: center; */
    top:7em;
    left: 13em;
    background-color: #1858317a;
    color: #fff;
    box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
    outline: none;
}

.navbar_icon a{
  text-decoration: none;
  color: #000000;
}



.box img {
    border-radius: 10px;
    width: 11em;
    height: 10em;
    float: left;
    margin-top: 17px;
    margin-left: 20px;
    
}

.tituloDoProduto {
    position: relative;
    font-size: 1.5em;
    top: 0.5em;
    text-align: center;
    background-color: transparent;
    
}

.descricao {
    position: relative;
    font-size: 1em;
    top: 1em;
    text-align: center;
    background-color: transparent;
    
}

.preco{
    position: absolute;
    margin-left: 150px;
    margin-top: 20px;
    font-size: 1.2em;
    display: inline;
    background-color: transparent;
}

.quantidade {
    text-align: center;
    margin-left: 426px;
    margin-top: 21px;
    width: 60px;
    background-color: transparent;
}

.nomeDaLoja{
    margin-top: 5px;
    margin-left: 345px;
    width: 9em;
    height: 22px;
    background-color: transparent;
}
.paginaDoVendedor{
    margin-top: 0.8em;
    margin-left: 8.5em;
    width: 140px;
    height: 30px;
    color: #020202;
    background-color: #fff;
    border: none;
    border-radius: 7px;
    font-size: 17px;
    cursor: pointer;
    text-decoration: none;
}
a{
    text-decoration: none;
}

/*links ends*/

/*Funções do perfil do cliente*/
.funcoesPerfilCliente {
    width: 17em;
    height: 22em;
    margin-top: -68em;
    margin-left: 950px;
    border: 2px solid #68bf6e;
    border-radius: 0.5em;
    /* margin-bottom: 3000px; */
    text-align: center;
    position: relative;
    font-size: 18px;
    box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
    outline: none;
}

.funcoesPerfilCliente .fa-regular.fa-user{
    color: #68bf6e;
    margin-right: 2px;
}


.nomeUser {
    margin-top: 1.5em;
    
    
}

.nomeUser a{
    text-decoration: none;
    color: #000000;
}

ul .lista {
    line-height: 70px;
    color: #000000;
    text-decoration: none;

}

ul a:hover{
    color: #68bf6e;
}

@media (max-width:480px){

  body,
  html{
    overflow-x: hidden;
    overflow-y: hidden;
  }





  #menu-btn{
      display: inline-block;
      font-size: 20px;
      z-index: 1;
      margin-left: 365px;
      margin-top: 35px;

  }


  .header .navbar{
    position: absolute;
    top: 100%;
    background: hsl(0, 0%, 92%);
    width: 200px;
    height: 430px;
    z-index: 1;
    font-family: 'Rubik';
    display: none;

    
}

.header .navbar .nav-list{
  display: block;
}

.header .navbar .nav-list li{
    color:#000000;
    margin: 50px;
    padding: -12px;
    font-size: 20px;
    margin-top: -5px;
    margin-left: 30px;
    font-weight: 300;

}
  
  .header .navbar.active{ /* Sem espaço */
    right: 0;
    margin-top: -719px;
    display: block;
    position: absolute;

}

.navbar_logo img{
  width: 105px;
  margin-top: 10px;
  margin-bottom: 50px;
  position: absolute;
  margin-left: -15px;


}

.header{
  align-items: center;

}

.search{
  margin-left: 135px;
  margin-top: -25px;
  position: absolute;
}

.search input{
  width: 105px;
  height: 12px;
  padding-top: 8px;
  
}

.search i{
  margin-left: 110px;
  font-size: 12px;
  margin-top:-2px;
}

.search__input::-webkit-input-placeholder {
  font-weight: 400;
  color: #837c7c;
  font-size: 11.5px;
 
}

.navbar_icon{
  margin-left: 290px;
  position: absolute;
}

.navbar_icon i{
  font-size: 17px;
  margin-left: 8px;
  margin-top: 70px;
}

footer{
display: none;

}

.footer_top{
  background-color: #BFE1C1;
  color: #185830;
  padding: 1px;
  margin-top: 5%;
  margin-bottom: -40px;
  width: 415px;
  height: 240px;
}

.footer_top button{
  background: #185830;
  color: #ffffff;
  width: 150px;
  height: 25px;
  font-size:12px ;
  border: none;
  font-family: 'Rubik';
  border-radius: 7px;
  cursor: pointer;
  margin-top: 2%;
}


.footer_bottom{
  background-color: #185830;
  color: #fff;
  padding: 10px;
  width: 397px;
  height: 60px;
  margin-left: -8px;
  font-family: 'Rubik';
}

.footer_bottom li{
  font-size: 11px;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  
}

.nav-list {
  display: flex;
  list-style: none;
  align-items: center;
}

.footer_bottom h3{
  color: #fff;
  font-size: 18px;
  font-family: 'Rubik';
  font-weight: 200;
  margin-top: -65px;
  text-decoration: underline 2px #fff;
  text-underline-offset: 15px;
  margin-left: 300px;
 
}

.footer_bottom p{
  font-family: 'Rubik';
  font-weight: 300;
  margin-left: 210px;
  font-size: 9px;
  margin-top: 20px;
}



.footer_box_container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  gap:1rem;
}

.footer_box_container_box h3{
  font-size: 10px;
  padding: 1rem 0;
  margin-left: -2px;
 
}

.acessados-media{
  display: block;
}

.footer_box_container_box a{
display:block;
font-size: 9px;
color: #185830;
padding: 0.3rem;
cursor:pointer;
text-decoration: none;
top: 5px;
}

.footer_box_container_box a {
  text-decoration: none;
  margin-bottom: 8px;
  
}

.footer_credit{
  text-align: center;
  font-size: 9px;
  color: #fff;
  
}
.footer_credit{
  color: #000000;
}

.footer_box_container_box i{
  font-size: 13px;

} 

.footer_bottom li{
  margin-top: 8px;
  font-weight: 500;
  margin-left: -20px;
  font-size: 9px;

}



.footer_bottom .list a{
  text-decoration: none;
  color: white;

}

.title {
  position: relative;
  left: 5em;
  top: 3em;
  
}

.title h1 {
  color: #68bf6ef6;
  position: relative;
  font-weight: 300;
  font-family: 'Rubik';

 
}

.title p {
  position: relative;
  font-size: 20px;
  left:16%;
  font-family: 'Rubik';

}

.box {
  border-radius: 1em;
}

.linksAcessados{
  display: grid;
  gap: 1em;
}

.acessados {
  position: relative;
  border: 2px solid #68bf6e1f;
  border-radius: 1em;
  width: 13%;
  height: 5em;
  /* text-align: center; */
  top:4em;
  left: 6.8em;
  background-color: #1858317a;
  color: #fff;
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
  outline: none;


}

.navbar_icon a{
text-decoration: none;
color: #000000;
}



.box img {
  border-radius: 10px;
  width: 4em;
  height: 4em;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  
}

.tituloDoProduto {
  position: relative;
  font-size: 10px;
  top: 0.5em;
  font-family: 'Rubik';
  text-align: center;
  background-color: transparent;
  
}

.descricao {
  position: relative;
  font-size: 10px;
  top: 1px;
  text-align: center;
  background-color: transparent;
  font-family: 'Rubik';
  
}

.preco{
  position: absolute;
  margin-left: 26px;
  margin-top: 1px;
  font-size: 10px;
  display: inline;
  font-family: 'Rubik';
  background-color: transparent;
}

.quantidade {
  display: none;
}

.nomeDaLoja{
  display: none;
}
.paginaDoVendedor{
display: none;
}
a{
  text-decoration: none;
}

/*links ends*/

/*Funções do perfil do cliente*/
.funcoesPerfilCliente {
  width: 17em;
  height: 22em;
  margin-top: -68em;
  margin-left: 950px;
  border: 2px solid #68bf6e;
  border-radius: 0.5em;
  /* margin-bottom: 3000px; */
  text-align: center;
  position: relative;
  font-size: 18px;
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
  outline: none;
}

.funcoesPerfilCliente .fa-regular.fa-user{
  color: #68bf6e;
  margin-right: 2px;
}


.nomeUser {
  margin-top: 1.5em;
  
  
}

.nomeUser a{
  text-decoration: none;
  color: #000000;
}

ul .lista {
  line-height: 70px;
  color: #000000;
  text-decoration: none;

}

ul a:hover{
  color: #68bf6e;
}



  #menu-btn{
      display: inline-block;
      font-size: 20px;
      z-index: 1;
      margin-left: 365px;
      margin-top: 35px;

  }


  .header .navbar{
    position: absolute;
    top: 100%;
    background: hsl(0, 0%, 92%);
    width: 200px;
    height: 430px;
    z-index: 1;
    font-family: 'Rubik';
    display: none;

    
}

.header .navbar .nav-list{
  display: block;
}

.header .navbar .nav-list li{
    color:#000000;
    margin: 50px;
    padding: -12px;
    font-size: 20px;
    margin-top: -5px;
    margin-left: 30px;
    font-weight: 300;

}
  
  .header .navbar.active{ /* Sem espaço */
    right: 0;
    margin-top: -719px;
    display: block;
    position: absolute;

}

.navbar_logo img{
  width: 105px;
  margin-top: 10px;
  margin-bottom: 50px;
  position: absolute;
  margin-left: -15px;


}

.header{
  align-items: center;

}

.search{
  margin-left: 135px;
  margin-top: -25px;
  position: absolute;
}

.search input{
  width: 105px;
  height: 12px;
  padding-top: 8px;
  
}

.search i{
  margin-left: 110px;
  font-size: 12px;
  margin-top:-2px;
}

.search__input::-webkit-input-placeholder {
  font-weight: 400;
  color: #837c7c;
  font-size: 11.5px;
 
}

.navbar_icon{
  margin-left: 290px;
  position: absolute;
}

.navbar_icon i{
  font-size: 17px;
  margin-left: 8px;
  margin-top: 70px;
}

footer{
display: none;

}

.footer_top{
  background-color: #BFE1C1;
  color: #185830;
  padding: 1px;
  margin-top: 5%;
  margin-bottom: -40px;
  width: 415px;
  height: 240px;
}

.footer_top button{
  background: #185830;
  color: #ffffff;
  width: 150px;
  height: 25px;
  font-size:12px ;
  border: none;
  font-family: 'Rubik';
  border-radius: 7px;
  cursor: pointer;
  margin-top: 2%;
}


.footer_bottom{
  background-color: #185830;
  color: #fff;
  padding: 10px;
  width: 397px;
  height: 60px;
  margin-left: -8px;
  font-family: 'Rubik';
}

.footer_bottom li{
  font-size: 11px;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  
}

.nav-list {
  display: flex;
  list-style: none;
  align-items: center;
}

.footer_bottom h3{
  color: #fff;
  font-size: 18px;
  font-family: 'Rubik';
  font-weight: 200;
  margin-top: -65px;
  text-decoration: underline 2px #fff;
  text-underline-offset: 15px;
  margin-left: 300px;
 
}

.footer_bottom p{
  font-family: 'Rubik';
  font-weight: 300;
  margin-left: 210px;
  font-size: 9px;
  margin-top: 20px;
}



.footer_box_container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  gap:1rem;
}

.footer_box_container_box h3{
  font-size: 10px;
  padding: 1rem 0;
  margin-left: -2px;
 
}

.footer_box_container_box a{
display:block;
font-size: 9px;
color: #185830;
padding: 0.3rem;
cursor:pointer;
text-decoration: none;
top: 5px;
}

.footer_box_container_box a {
  text-decoration: none;
  margin-bottom: 8px;
  
}

.footer_credit{
  text-align: center;
  font-size: 9px;
  color: #fff;
  
}
.footer_credit{
  color: #000000;
}

.footer_box_container_box i{
  font-size: 13px;

} 

.footer_bottom li{
  margin-top: 8px;
  font-weight: 500;
  margin-left: -20px;
  font-size: 9px;

}



.footer_bottom .list a{
  text-decoration: none;
  color: white;

}

.title {
  position: relative;
  left: 5em;
  top: 3em;
  
}

.title h1 {
  color: #68bf6ef6;
  position: relative;
  font-weight: 300;
  font-family: 'Rubik';

 
}

.title p {
  position: relative;
  font-size: 20px;
  left:16%;
  font-family: 'Rubik';

}

.box {
  border-radius: 1em;
}

.linksAcessados{
  display: grid;
  gap: 1em;
}

.acessados {
  position: relative;
  border: 2px solid #68bf6e1f;
  border-radius: 1em;
  width: 13%;
  height: 5em;
  /* text-align: center; */
  top:4em;
  left: 6.8em;
  background-color: #1858317a;
  color: #fff;
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
  outline: none;
}

.navbar_icon a{
text-decoration: none;
color: #000000;
}



.box img {
  border-radius: 10px;
  width: 4em;
  height: 4em;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  
}

.tituloDoProduto {
  position: relative;
  font-size: 10px;
  top: 0.5em;
  font-family: 'Rubik';
  text-align: center;
  background-color: transparent;
  
}

.descricao {
  position: relative;
  font-size: 10px;
  top: 1px;
  text-align: center;
  background-color: transparent;
  font-family: 'Rubik';
  
}

.preco{
  position: absolute;
  margin-left: 26px;
  margin-top: 1px;
  font-size: 10px;
  display: inline;
  font-family: 'Rubik';
  background-color: transparent;
}

.quantidade {
  display: none;
}

.nomeDaLoja{
  display: none;
}
.paginaDoVendedor{
display: none;
}
a{
  text-decoration: none;
}

/*links ends*/

/*Funções do perfil do cliente*/
.funcoesPerfilCliente {
  width: 17em;
  height: 22em;
  margin-top: -68em;
  margin-left: 950px;
  border: 2px solid #68bf6e;
  border-radius: 0.5em;
  /* margin-bottom: 3000px; */
  text-align: center;
  position: relative;
  font-size: 18px;
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
  outline: none;
}

.funcoesPerfilCliente .fa-regular.fa-user{
  color: #68bf6e;
  margin-right: 2px;
}


.nomeUser {
  margin-top: 1.5em;
  
  
}

.nomeUser a{
  text-decoration: none;
  color: #000000;
}

ul .lista {
  line-height: 70px;
  color: #000000;
  text-decoration: none;

}

ul a:hover{
  color: #68bf6e;
}

@media (max-width:400px){

  body{
    overflow-x: hidden;
    overflow-y: hidden;
  }



  #menu-btn{
      display: inline-block;
      font-size: 20px;
      z-index: 1;
      margin-left: 365px;
      margin-top: 35px;

  }


  .header .navbar{
    position: absolute;
    top: 100%;
    background: hsl(0, 0%, 92%);
    width: 200px;
    height: 430px;
    z-index: 1;
    font-family: 'Rubik';
    display: none;

    
}

.header .navbar .nav-list{
  display: block;
}

.header .navbar .nav-list li{
    color:#000000;
    margin: 50px;
    padding: -12px;
    font-size: 20px;
    margin-top: -5px;
    margin-left: 30px;
    font-weight: 300;

}
  
  .header .navbar.active{ /* Sem espaço */
    right: 0;
    margin-top: -719px;
    display: block;
    position: absolute;

}

.navbar_logo img{
  width: 105px;
  margin-top: 10px;
  margin-bottom: 50px;
  position: absolute;
  margin-left: -15px;


}

.header{
  align-items: center;

}

.search{
  margin-left: 135px;
  margin-top: -25px;
  position: absolute;
}

.search input{
  width: 105px;
  height: 12px;
  padding-top: 8px;
  
}

.search i{
  margin-left: 110px;
  font-size: 12px;
  margin-top:-2px;
}

.search__input::-webkit-input-placeholder {
  font-weight: 400;
  color: #837c7c;
  font-size: 11.5px;
 
}

.navbar_icon{
  margin-left: 290px;
  position: absolute;
}

.navbar_icon i{
  font-size: 17px;
  margin-left: 8px;
  margin-top: 70px;
}

footer{
display: none;

}

.footer_top{
  background-color: #BFE1C1;
  color: #185830;
  padding: 1px;
  margin-top: 5%;
  margin-bottom: -40px;
  width: 415px;
  height: 240px;
}

.footer_top button{
  background: #185830;
  color: #ffffff;
  width: 150px;
  height: 25px;
  font-size:12px ;
  border: none;
  font-family: 'Rubik';
  border-radius: 7px;
  cursor: pointer;
  margin-top: 2%;
}


.footer_bottom{
  background-color: #185830;
  color: #fff;
  padding: 10px;
  width: 397px;
  height: 60px;
  margin-left: -8px;
  font-family: 'Rubik';
}

.footer_bottom li{
  font-size: 11px;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  
}

.nav-list {
  display: flex;
  list-style: none;
  align-items: center;
}

.footer_bottom h3{
  color: #fff;
  font-size: 18px;
  font-family: 'Rubik';
  font-weight: 200;
  margin-top: -65px;
  text-decoration: underline 2px #fff;
  text-underline-offset: 15px;
  margin-left: 300px;
 
}

.footer_bottom p{
  font-family: 'Rubik';
  font-weight: 300;
  margin-left: 210px;
  font-size: 9px;
  margin-top: 20px;
}



.footer_box_container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  gap:1rem;
}

.footer_box_container_box h3{
  font-size: 10px;
  padding: 1rem 0;
  margin-left: -2px;
 
}

.footer_box_container_box a{
display:block;
font-size: 9px;
color: #185830;
padding: 0.3rem;
cursor:pointer;
text-decoration: none;
top: 5px;
}

.footer_box_container_box a {
  text-decoration: none;
  margin-bottom: 8px;
  
}

.footer_credit{
  text-align: center;
  font-size: 9px;
  color: #fff;
  
}
.footer_credit{
  color: #000000;
}

.footer_box_container_box i{
  font-size: 13px;

} 

.footer_bottom li{
  margin-top: 8px;
  font-weight: 500;
  margin-left: -20px;
  font-size: 9px;

}



.footer_bottom .list a{
  text-decoration: none;
  color: white;

}

.title {
  position: relative;
  left: 5em;
  top: 3em;
  
}

.title h1 {
  color: #68bf6ef6;
  position: relative;
  font-weight: 300;
  font-family: 'Rubik';

 
}

.title p {
  position: relative;
  font-size: 20px;
  left:16%;
  font-family: 'Rubik';

}

.box {
  border-radius: 1em;
}

.linksAcessados{
  display: grid;
  gap: 1em;
}

.acessados {
  position: relative;
  border: 2px solid #68bf6e1f;
  border-radius: 1em;
  width: 13%;
  height: 5em;
  /* text-align: center; */
  top:4em;
  left: 6.5em;
  background-color: #1858317a;
  color: #fff;
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
  outline: none;
}

.navbar_icon a{
text-decoration: none;
color: #000000;
}



.box img {
  border-radius: 10px;
  width: 4em;
  height: 4em;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  
}

.tituloDoProduto {
  position: relative;
  font-size: 10px;
  top: 0.5em;
  font-family: 'Rubik';
  text-align: center;
  background-color: transparent;
  
}

.descricao {
  position: relative;
  font-size: 10px;
  top: 1px;
  text-align: center;
  background-color: transparent;
  font-family: 'Rubik';
  
}

.preco{
  position: absolute;
  margin-left: 26px;
  margin-top: 1px;
  font-size: 10px;
  display: inline;
  font-family: 'Rubik';
  background-color: transparent;
}

.quantidade {
  display: none;
}

.nomeDaLoja{
  display: none;
}
.paginaDoVendedor{
display: none;
}
a{
  text-decoration: none;
}

/*links ends*/

/*Funções do perfil do cliente*/
.funcoesPerfilCliente {
  width: 17em;
  height: 22em;
  margin-top: -68em;
  margin-left: 950px;
  border: 2px solid #68bf6e;
  border-radius: 0.5em;
  /* margin-bottom: 3000px; */
  text-align: center;
  position: relative;
  font-size: 18px;
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
  outline: none;
}

.funcoesPerfilCliente .fa-regular.fa-user{
  color: #68bf6e;
  margin-right: 2px;
}


.nomeUser {
  margin-top: 1.5em;
  
  
}

.nomeUser a{
  text-decoration: none;
  color: #000000;
}

ul .lista {
  line-height: 70px;
  color: #000000;
  text-decoration: none;

}

ul a:hover{
  color: #68bf6e;
}





}


}



