
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:wght@100;200;300;400;500;600;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
  overflow-x: hidden;
}

.navbar{
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  padding: 1em;
  font-family: 'Rubik';
  margin-left: -250px;
  font-size: 19px;
  margin-top: -70px;
  
}

.navbar_logo{
  font-size: 15px;
  margin-left:25px;

}

.navbar_icon{
  display: flex;
  justify-content: center;
  list-style-type: none;
  font-size: 22px;
  cursor: pointer;
  margin-top: 2%;
  margin-left: 10%;
}

.navbar_icon li{
  margin: 0 8px;

  
  
}

.navbar .nav-list {
  display: flex;
  list-style: none;
  align-items: center;
  margin-left: -35px;
}

.navbar .nav-list .item {
  margin-left: 70px;
  cursor: pointer;
  
}

.nav-list li{
text-decoration: none;
color: #000000;

}

.nav-list a{
text-decoration: none;

}

#item1::after {
content: '';
width: 0%;
height: 2px;
background: #185830;
position: absolute;
transform: translateX(-50%);
transition: 0.5s;
margin-top: 24px;
margin-left: -25px;
}

#item1:hover::after {
width: 5%;
}

#item2::after {
content: '';
width: 0%;
height: 2px;
background: #185830;
position: absolute;
transform: translateX(-50%);
transition: 0.5s;
margin-top: 24px;
margin-left: -26px;
}

#item2:hover::after {
width: 5%;
}

#item3::after {
content: '';
width: 0%;
height: 2px;
background: #185830;
position: absolute;
transform: translateX(-50%);
transition: 0.5s;
margin-top: 24px;
margin-left: -33px;
}

#item3:hover::after {
width: 6%;
}

#item4::after {
content: '';
width: 0%;
height: 2px;
background: #185830;
position: absolute;
transform: translateX(-50%);
transition: 0.5s;
margin-top: 24px;
margin-left: -17px;
}

#item4:hover::after {
width: 3.5%;
}

#item5::after {
content: '';
width: 0%;
height: 2px;
background: #185830;
position: absolute;
transform: translateX(-50%);
transition: 0.5s;
margin-top: 24px;
margin-left: -30px;
}

#item5:hover::after {
width: 5.5%;
}

#item6::after {
content: '';
width: 0%;
height: 2px;
background: #185830;
position: absolute;
transform: translateX(-50%);
transition: 0.5s;
margin-top: 24px;
margin-left: -56px;
}

#item6:hover::after {
width: 9%;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-left: 1000px;
  margin-top: -70px;
  margin-bottom: 60px;
  font-family: 'Rubik';

}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #242424;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 10em;
  height: 20px;
  transition: all ease-in-out .5s;
  margin-right: -2.5rem;
}

.search__input:hover, .search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 300;
  color: #837c7c;
  font-size: 15.5px;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}
.search i{
position: absolute;
margin-left:160px;
color: #5a5a5a;
}

.navbar_icon{
margin-left: 1140px;
margin-top: -90px;
margin-bottom: 50px;
color: #474747;
}


.navbar_icon i{
  font-size: 20px;
  cursor: pointer;
  margin-left: 15px;

}

.navbar_icon i:hover{
  color: #185830;
}

footer{
  text-align: center;
  font-family: 'Rubik';
  margin-bottom: -10px;

}

.footer_top{
  background-color: #BFE1C1;
  color: #185830;
  padding: 1px;
  border-radius: 40px 50px 0 0;
  margin-top: 5%;
  width: 101%;
  margin-left: -8px;

}

.footer_top button{
  background: #185830;
  color: #ffffff;
  width: 350px;
  height: 40px;
  font-size:18px ;
  border: none;
  font-family: 'Rubik';
  border-radius: 12px;
  cursor: pointer;
  margin-top: 2%;
}


.footer_bottom{
  background-color: #185830;
  color: #fff;
  padding: 10px;
  width: 99.6%;
  height: 165px;
  margin-left: -8px;
  font-family: 'Rubik';
}

.footer_bottom li{
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-top: 30px;
  
}

.nav-list {
  display: flex;
  list-style: none;
  align-items: center;
}

.footer_bottom h3{
  color: #fff;
  font-size: 45px;
  font-family: 'Rubik';
  font-weight: 200;
  margin-top: -95px;
  text-decoration: underline 2px #fff;
  text-underline-offset: 15px;
  margin-left: 990px;
 
}

.footer_bottom p{
  font-family: 'Rubik';
  font-weight: 300;
  margin-left: 1000px;
}



.footer_box_container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap:2rem;
}
.footer_box_container_box h3{
  font-size: 1.2rem;
  color: var(--black);
  padding: 1rem 0;
 
}

.footer_box_container_box a{
display:block;
font-size: 1rem;
color: #185830;
padding: 0.7rem;
cursor:pointer;
text-decoration: none;
top: 5px;
}

.footer_box_container_box a {
  text-decoration: none;
  margin-bottom: 8px;
  
}

.footer_credit{
  text-align: center;
  font-size: 1rem;
  color: #fff;
}
.footer_credit{
  color: #000000;
}

.footer_box_container_box i{
  font-size: 22px;

} 

.footer_bottom li{
  margin-top: 45px;
  font-weight: 500;

}

.footer_bottom .list a{
  text-decoration: none;
  color: white;

}


.slider{
  margin: 0 auto;
  width: 1200px;
  height: 400px;
  overflow: hidden;
  border-radius: 30px;
  margin-left: 68px;

}

.slides{
  width: 400%;
  height:400px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 35%;
  position: relative;
}

.slide img{
  width: 1200px;
}

.manual-navigation{
  position:absolute;
  width: 800px;
  margin-top: -40px;
  margin-left: 200px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #ffffff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background-color: #fff;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -35%;
}

#radio3:checked ~ .first{
  margin-left: -70%;
}

.navigation-auto div{
  border: 2px solid #20a6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto{
  position: absolute;
  width: 1200px;
  margin-top: 360px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background-color: #fff;
}

.slide label{
  position: absolute; 
  font-size: 50px;
  left: 100px;
  top: 105px;
  color: #fff;
  font-family: 'Nexa';
  font-weight: 200;
  margin-right: 60%;

}
/* 

.experience h2{
  font-size: 90px;
  margin-top: 15%;
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
  margin-left: 180px;
  color: #464545;
}

.experience span{
  color: #185830;
  font-size: 90px;
  margin-left: 170px;
}

.experience p{
  font-size: 21px;
  margin-top: 3px;
  color: rgb(63, 63, 63);
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.imagem4d img{
  margin-top: 55px;
  width: 350px;
  display: flexbox;
  margin-left: 210px;
  cursor: pointer;
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
  outline: none;
  color: dimgray;
  border-radius: 30px;
  transition: transform 0.3s;
  transform: translateX(0) scale(0.9);
}

.imagem4d img:hover,
.imagem4d img:focus{
  transform: scale(1);
}



.imagem4d p{
  text-align: center;
  margin-top: 2%;
  font-family: 'Open Sans', sans-serif;
  color: #464545;
} */

.product-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 5.6rem;
  width: 250px;
  height: 440px;
  padding: 15px;
  border: 1px solid rgba(0,0,0,0.08);
  margin: 0px 20px;
  border-radius: 10px;
  background-color: #ffffff;
  margin-top: 100px;
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
  outline: none;
  color: dimgray;
}

.p-img-container img{
  display: flex;
  overflow: hidden;
  width: 282px;
  height: 260px;
  margin-left: -16px;
  margin-top: -18px;
  border-radius: 10px 10px 0 0;
}



.vitrine-box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.2rem;

}

.box{
  text-align: center;
  background: #faf8f8;
  border-radius: 10px;
  border: .4rem;
  padding: 3rem;
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
  outline: none;
  color: dimgray;
  width: 185px;
  height: 410px;
  margin: 18%;
  
}

.box img{
  width: 281px;
  height: 18rem;
  border-radius: 10px 10px 0 0;
  margin-left: -48px;
  margin-top: -49px;

}

.titulo-vitrine h2{
  font-size: 70px;
  margin-top: 2%;
  font-family: 'Nexa';
  font-weight: 200;
  color: #373837;
  text-align: center;
  text-decoration: underline #185830 2px;
  text-underline-offset: 15px;
}



.box h3{
  font-family: 'Rubik';
  font-weight: 600;
  font-size: 19px;
  margin-top: 12%;  
  color: black;  
}

.box p{
  font-family: 'Rubik';
  font-weight: 400;
  color: black;
  margin-top: 5%;
  font-size: 15px;
}
.preco-vitrine p{
  font-weight: 600;
  text-align: center;
  font-size: 17px;
}

.box button{
  margin-top: 6%;
  width: 185px;
  height: 37px;
  font-size: 15px;
  border-radius: 10px;
  border-color: #409761;
  border-width: 1px;
  background-color: white;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  margin-left: -50px;
  transition: all .2s;
  position: relative;
}

.box button:hover{
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
  color: #fff;
  background-color: #185830;
}


.box .icone{
  font-size: 23px;
  background-color: #59a35e;
  width: 26px;
  height: 26px;
  text-align: center;
  padding: 5px;
  padding-left: 6px;
  border-radius: 11px;
  color: #fff;
  margin-top: -37px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  margin-left: 170px;
 
}

.icone:hover{
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
  background-color: #185830;
}


.box .icone i{
  margin: 4px;
  margin-left: 1px;
  margin-top: 2px;
  color: white;

}


.seta-direita a{
  font-size: 25px;
  text-decoration: none;
  color: #000;
}

.seta-esquerda a{
  font-size: 25px;
  color: #000;
  text-decoration: none;
}

.seta-esquerda{
  margin-top: -48.5px;
  margin-left: 595px;
}

.seta-direita{
  margin-top: -26.6px;
  margin-left: 730px;
}


.numero p{
  font-family: 'Rubik';
  font-size: 20px;
  margin-top: 17px;
  margin-left: 650px;
}

.numero span{
  font-weight: 600;
}

.ecobox .ecobox-title h3{
  font-size: 50px;
  margin-top: 10%;
  font-family: 'Nexa';
  font-weight: 200;
  color: #373837;
  text-align: center;
  justify-content: center;

}

.ecobox .ecobox-title p{
  font-size: 50px;
  font-family: 'Nexa';
  font-weight: 200;
  color: #373837;
  text-align: center;
  justify-content: center;
  margin-bottom: 10%;
}

.ecobox .ecobox-title span{
  color: #185830;
}

.ecobox-image img{
  width: 500px;
  height: 420px;
  border-radius: 20px;
  margin-left: 87px;
  margin-top: 20px;
}

.ecobox-subtitle h3{
  font-size: 60px;
  font-family: 'Nexa';
  font-weight: 200;
  color: #373837;
  text-align: center;
  justify-content: center;
  margin-left: 620px;
  margin-top: -430px;
  color: #68BF6E;

}

.ecobox-subtitle span2{
  color: #59a35e;
}

.ecobox-subtitle span1{
  color: #080808;
}

.ecobox-subtitle p{
  font-size: 28px;
  font-family: 'Nexa';
  font-weight: 100;
  color: #373837;
  margin-left: 850px;
  margin-top: 30px;

}


.ecobox-subtitle button{
  width: 200px;
  height: 45px;
  background-color: #fff;
  border-radius: 35px;
  box-shadow: 2px 2px 7px 0 #8966AC;
  outline: none;
  color: #8966AC;
  border-radius: 30px;
  font-size: 18px;
  color: #07642A;
  margin-left: 860px;
  margin-top: 30px;
  border-width: 0;
  cursor: pointer;
  transition: all .2s;
  position: relative;
}

.ecobox-subtitle button:hover{
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
  color: #8966AC;
}


.vitrine-queridos .queridos-box h3{
  font-family: 'Rubik';
  font-weight: 600;
  font-size: 19px;
  margin-top: 12%;  
  color: black;  
}

.queridos-box p{
  font-family: 'Rubik';
  font-weight: 400;
  color: black;
  margin-top: 5%;
  font-size: 15px;
}
.preco-queridos p{
  font-weight: 600;
  text-align: center;
  font-size: 17px;
}

.queridos-box button{
  margin-top: 6%;
  width: 185px;
  height: 37px;
  font-size: 15px;
  border-radius: 10px;
  border-color: #409761;
  border-width: 1px;
  background-color: white;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  margin-left: -50px;
  transition: all .2s;
  position: relative;
}

.queridos-box button:hover{
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
  color: #fff;
  background-color: #185830;
}

.vitrine-queridos{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.2rem;

}

.queridos-box{
  text-align: center;
  background: #faf8f8;
  border-radius: 10px;
  border: .4rem;
  padding: 3rem;
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
  outline: none;
  color: dimgray;
  width: 185px;
  height: 410px;
  margin: 18%;
  
}

.queridos-box img{
  width: 281px;
  height: 18rem;
  border-radius: 10px 10px 0 0;
  margin-left: -48px;
  margin-top: -49px;

}


.icone{
  font-size: 23px;
  background-color: #59a35e;
  width: 26px;
  height: 26px;
  text-align: center;
  padding: 5px;
  padding-left: 6px;
  border-radius: 11px;
  color: #fff;
  margin-top: -37px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  margin-left: 170px;
}

.icone i{
  margin: 4px;
  margin-left: 1px;
  margin-top: 2px;
  color: white;
}

.queridos-semana h3{
  font-size: 60px;
  font-family: 'Nexa';
  font-weight: 200;
  color: #373837;
  text-align: center;
  justify-content: center;
  margin-top: 15%;
}

.project-img img{
  width: 135px;
  border-radius: 100px;
  padding: 15px;
  margin-left: 80px;
  margin-top: 12%;
  box-shadow: 0 3px 2px #0003;
  margin-bottom: 0;
}

.swiper{
  height: 500px;
}

.swiper-slide{
  display: flex;
  align-items: center;
  justify-content: center;
}

.parceiros-title h3{
  font-size: 70px;
  font-family: 'Nexa';
  font-weight: 200;
  color: #373837;
  margin-bottom: -6%;
  margin-top: 10%;
  text-decoration: underline #185830 2px;
  text-underline-offset: 15px;
  text-align: center;
}

#menu-btn{
  display: none;
}

.image-media img{
  display: none;
}

.parceiros-media img{
  display: none;
}

.navbar_icon a{
  text-decoration: none;
  color: #000;
}



@media (max-width:480px){

  body{
    overflow-x: hidden;
  }



  #menu-btn{
      display: inline-block;
      font-size: 20px;
      z-index: 1;
      margin-left: 365px;
      margin-top: 40px;
      position: absolute;

  }


  .header .navbar{
      position: absolute;
      top: 100%;
      background: hsl(0, 0%, 92%);
      width: 200px;
      height: 350px;
      z-index: 1;
      font-family: 'Rubik';
      display: none;
  
      
  }

  .header .navbar .nav-list{
    display: block;
  }

  .header .navbar .nav-list li{
      color:#000000;
      margin: 50px;
      padding: -12px;
      font-size: 20px;
      margin-top: -5px;
      margin-left: 30px;
      font-weight: 300;

  }

  #item1{
    display: none;
  }

  
  .header .navbar.active{ /* Sem espaço */
    right: 0;
    margin-top: -719px;
    display: block;
    position: absolute;

}


.navbar_logo img{
  width: 105px;
  margin-top: -15px;
  margin-bottom: 50px;
  position: relative;
  margin-left: -15px;


}

.header{
  align-items: center;

}

.search{
  margin-left: 135px;
  margin-top: -50px;
  position: absolute;
}

.search input{
  width: 105px;
  height: 12px;
  padding-top: 8px;
  
}

.search i{
  margin-left: 110px;
  font-size: 12px;
  margin-top:-2px;
}

.search__input::-webkit-input-placeholder {
  font-weight: 400;
  color: #837c7c;
  font-size: 11.5px;
 
}

.navbar_icon{
  margin-left: 290px;
  position: absolute;
}

.navbar_icon i{
  font-size: 17px;
  margin-left: 8px;
  margin-top: 90px;

}

.slider{
  display: none;

}

.swiper{
  display: none;
}

.project-img{
  display: none;
}

.swiper .swiper-button-next{
  display: none;
}

.swiper .swiper-button-prev{
  display: none;
}

.swiper .swiper-button-pagination{
  display: none;
}

.image-media img{
  display: block;
  width: 356px;
  height: 150px;
  margin-left: 19px;
  margin-top: 110px;
  border-radius: 15px;
}



.navbar_logo img{
  width: 105px;
  margin-top: 10px;
  margin-bottom: 50px;
  position: absolute;
  margin-left: -15px;


}

.header{
  align-items: center;

}

.search{
  margin-left: 135px;
  margin-top: 35px;
  position: absolute;
}

.search input{
  width: 105px;
  height: 12px;
  padding-top: 8px;
  
}

.search i{
  margin-left: 110px;
  font-size: 12px;
  margin-top:-2px;
}

.search__input::-webkit-input-placeholder {
  font-weight: 400;
  color: #837c7c;
  font-size: 11.5px;
 
}

.navbar_icon{
  margin-left: 290px;
  position: absolute;
}

.navbar_icon i{
  font-size: 20px;
  margin-left: 8px;
  margin-top: 129px;
}

.parceiros-title h3{
  font-size: 30px;
  margin-left: -20px;
  margin-top: 120px;

}


.parceiros-media{
  margin-left: 10px;
}

.parceiros-media img{
  display: block;
  width: 75px;
  display: inline-flex;
  margin-top: 90px;
  border-radius: 50px;
  margin-left: 30px;
}

.titulo-vitrine h2{
  margin-top: -345px;
  font-size: 32px;
  margin-left: -10px;

}

.vitrine-box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 10px;

}

.box{
  text-align: center;
  background: #faf8f8;
  border-radius: 10px;
  border: .4rem;
  padding: 3rem;
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
  outline: none;
  color: dimgray;
  width: 40px;
  height: 180px;
  margin-left: 25px;
  margin-top: 50px;
  margin-right: 1500px;
  
}

.box img{
  width: 136px;
  height: 9rem;
  border-radius: 10px 10px 0 0;
  margin-left: -48px;
  margin-top: -49px;

}

.box h3{
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 9px;
  margin-top: 12%;  
  color: black;  
}

.box p{
  font-family: 'Rubik';
  font-weight: 400;
  color: black;
  margin-top: 5%;
  font-size: 9px;
}
.preco-vitrine p{
  font-weight: 600;
  text-align: center;
  font-size: 9px;
}

.box button{
  margin-top: 1px;
  width: 70px;
  height: 20px;
  font-size: 7px;
  border-radius: 6px;
  border-color: #409761;
  border-width: 1px;
  background-color: white;
  color: #000;
  font-weight: 700;
  cursor: pointer;
  margin-left: -35px;
  transition: all .2s;
  position: relative;
}

.box button:hover{
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
  color: #fff;
  background-color: #185830;
}


.box .icone{
  font-size: 10px;
  background-color: #59a35e;
  width: 10px;
  height: 10px;
  text-align: center;
  padding: 5px;
  padding-left: 6px;
  border-radius: 6px;
  color: #fff;
  margin-top: -20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  margin-left: 50px;
 
}

.icone:hover{
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
  background-color: #185830;
}


.box .icone i{
  margin-left: 0px;
  margin-top: -6px;
  color: white;

}

.box-tirar-media{
  display: none;
}

.numero{
  margin-left: -468px;
  
}

.numero p{
  font-size: 14px;
  margin-top: 20px;
}

.seta-esquerda i{
  margin-left: -440px;
  margin-top: 20px;
  font-size: 15px;
}

.seta-direita i{
  margin-left: -500px;
  margin-top: 5px;
  font-size: 15px;
}

.ecobox .ecobox-title h3{
  font-size: 25px;
  margin-top: 100px;
  margin-left: -10px;
}

.ecobox .ecobox-title p{
  font-size: 25px;
  margin-left: -10px;
}

.ecobox .ecobox-title span{
  font-size: 23px;
}

.ecobox-image img{
  width: 210px;
  height: 210px;
  margin-left: 10px;
}

.ecobox-subtitle h3{
  font-size: 25px;
  margin-left: 235px;
  margin-top: -200px;
}

.ecobox-subtitle p{
  font-size: 15px;
  margin-top: -20px;
  margin-left: 245px;
 
}

.ecobox-subtitle button{
  margin-left: 270px;
  margin-top: -20px;
  width: 80px;
  height: 25px;
  font-size: 10px;
  

}

.queridos-semana h3{
  font-size: 25px;
  margin-top: 100px;
}

.vitrine-queridos .queridos-box h3{
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 9px;
  margin-top: 12%;  
  color: black;   
}

.queridos-box p{
  font-family: 'Rubik';
  font-weight: 400;
  color: black;
  margin-top: 5%;
  font-size: 9px;
}
.preco-queridos p{
  font-weight: 600;
  text-align: center;
  font-size: 9px;
}

.queridos-box button{
  margin-top: 1px;
  width: 70px;
  height: 20px;
  font-size: 7px;
  border-radius: 6px;
  border-color: #409761;
  border-width: 1px;
  background-color: white;
  color: #000;
  font-weight: 700;
  cursor: pointer;
  margin-left: -35px;
  transition: all .2s;
  position: relative;
}

.queridos-box button:hover{
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
  color: #fff;
  background-color: #185830;
}

.vitrine-queridos{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 10px;

}

.queridos-box{
  text-align: center;
  background: #faf8f8;
  border-radius: 10px;
  border: .4rem;
  padding: 3rem;
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
  outline: none;
  color: dimgray;
  width: 40px;
  height: 180px;
  margin-left: 25px;
  margin-top: 30px;
  
}

.queridos-box img{
  width: 136px;
  height: 9rem;
  border-radius: 10px 10px 0 0;
  margin-left: -48px;
  margin-top: -49px;

}

.icone{
  font-size: 10px;
  background-color: #59a35e;
  width: 10px;
  height: 10px;
  text-align: center;
  padding: 5px;
  padding-left: 6px;
  border-radius: 6px;
  color: #fff;
  margin-top: -20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  margin-left: 50px;
 
}

.icone:hover{
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
  background-color: #185830;
}

.icone i{
  margin-left: 0px;
  margin-top: -6px;
  color: white;
}

footer{
  text-align: center;
  font-family: 'Rubik';
  margin-bottom: -20px;

}

.footer_top{
  background-color: #BFE1C1;
  color: #185830;
  padding: 1px;
  margin-top: 5%;
  width: 415px;
  height: 210px;
}

.footer_top button{
  background: #185830;
  color: #ffffff;
  width: 150px;
  height: 25px;
  font-size:12px ;
  border: none;
  font-family: 'Rubik';
  border-radius: 7px;
  cursor: pointer;
  margin-top: 2%;
}


.footer_bottom{
  background-color: #185830;
  color: #fff;
  padding: 10px;
  width: 397px;
  height: 60px;
  margin-left: -8px;
  font-family: 'Rubik';
}

.footer_bottom li{
  font-size: 11px;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  
}

.nav-list {
  display: flex;
  list-style: none;
  align-items: center;
}

.footer_bottom h3{
  color: #fff;
  font-size: 18px;
  font-family: 'Rubik';
  font-weight: 200;
  margin-top: -65px;
  text-decoration: underline 2px #fff;
  text-underline-offset: 15px;
  margin-left: 300px;
 
}

.footer_bottom p{
  font-family: 'Rubik';
  font-weight: 300;
  margin-left: 210px;
  font-size: 9px;
  margin-top: 20px;
}



.footer_box_container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  gap:1rem;
}
.footer_box_container_box h3{
  font-size: 10px;
  padding: 1rem 0;
 
}

.footer_box_container_box a{
display:block;
font-size: 9px;
color: #185830;
padding: 0.3rem;
cursor:pointer;
text-decoration: none;
top: 5px;
}

.footer_box_container_box a {
  text-decoration: none;
  margin-bottom: 8px;
  
}

.footer_credit{
  text-align: center;
  font-size: 9px;
  color: #fff;
  
}
.footer_credit{
  color: #000000;
}

.footer_box_container_box i{
  font-size: 13px;

} 

.footer_bottom li{
  margin-top: 8px;
  font-weight: 500;
  margin-left: -20px;
  font-size: 9px;

}

.footer_bottom .list a{
  text-decoration: none;
  color: white;

}

@media (max-width:400px){

  body{
    overflow-x: hidden;
  }



  #menu-btn{
      display: inline-block;
      font-size: 18px;
      z-index: 1;
      margin-left: 310px;
      margin-top: 35px;

     


  }



  .header .navbar{
      position: absolute;
      top: 100%;
      background: hsl(0, 0%, 92%);
      width: 200px;
      height: 360px;
      z-index: 1;
      font-family: 'Rubik';
      display: none;
  
      
  }

  .header .navbar .nav-list{
    display: block;
  }

  .header .navbar .nav-list li{
      color:#000000;
      margin: 50px;
      padding: .1rem;
      font-size: 18px;
      margin-top: 17px;
      margin-left: 30px;
      font-weight: 300;
      

  }

  
  .header .navbar.active{ /* Sem espaço */
    right: 0;
    margin-top: -560px;
    display: block;
    position: absolute;

}

.slider{
  display: none;

}

.swiper{
  display: none;
}

.project-img{
  display: none;
}

.swiper .swiper-button-next{
  display: none;
}

.swiper .swiper-button-prev{
  display: none;
}

.swiper .swiper-button-pagination{
  display: none;
}

.image-media img{
  display: block;
  width: 306px;
  height: 130px;
  margin-left: 14px;
  margin-top: 90px;
  border-radius: 15px;
}

.navbar_logo img{
  width: 85px;
  margin-top: 11px;
  margin-bottom: 50px;
  position: absolute;
  margin-left: -15px;


}

.header{
  align-items: center;

}

.search{
  margin-left: 105px;
  margin-top: 30px;
  position: absolute;
}

.search input{
  width: 85px;
  height: 12px;
  padding-top: 8px;
  
}

.search i{
  margin-left: 100px;
  font-size: 10px;
  margin-top:-2px;
}

.search__input::-webkit-input-placeholder {
  font-weight: 400;
  color: #837c7c;
  font-size: 10.5px;
 
}

.navbar_icon{
  margin-left: 250px;
  position: absolute;
}

.navbar_icon i{
  font-size: 15px;
  margin-left: 8px;
  margin-top: 126px;
}

.parceiros-title h3{
  font-size: 30px;
  margin-left: 0px;

}


.parceiros-media{
  margin-left: 10px;
}

.parceiros-media img{
  display: block;
  width: 65px;
  display: inline-flex;
  margin-top:120px;
  border-radius: 50px;
  margin-left: 30px;
}

.titulo-vitrine h2{
  margin-top: -325px;
  font-size: 32px;
  margin-left: 0px;

}

.vitrine-box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 10px;

}

.box{
  text-align: center;
  background: #faf8f8;
  border-radius: 10px;
  border: .4rem;
  padding: 3rem;
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
  outline: none;
  color: dimgray;
  width: 40px;
  height: 180px;
  margin-left: 15px;
  margin-top: 30px;
  
}

.box img{
  width: 136px;
  height: 9rem;
  border-radius: 10px 10px 0 0;
  margin-left: -48px;
  margin-top: -49px;

}

.box h3{
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 9px;
  margin-top: 12%;  
  color: black;  
}

.box p{
  font-family: 'Rubik';
  font-weight: 400;
  color: black;
  margin-top: 5%;
  font-size: 9px;
}
.preco-vitrine p{
  font-weight: 600;
  text-align: center;
  font-size: 9px;
}

.box button{
  margin-top: 1px;
  width: 70px;
  height: 20px;
  font-size: 7px;
  border-radius: 6px;
  border-color: #409761;
  border-width: 1px;
  background-color: white;
  color: #000;
  font-weight: 700;
  cursor: pointer;
  margin-left: -35px;
  transition: all .2s;
  position: relative;
}

.box button:hover{
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
  color: #fff;
  background-color: #185830;
}


.box .icone{
  font-size: 10px;
  background-color: #59a35e;
  width: 10px;
  height: 10px;
  text-align: center;
  padding: 5px;
  padding-left: 6px;
  border-radius: 6px;
  color: #fff;
  margin-top: -20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  margin-left: 50px;
 
}

.icone:hover{
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
  background-color: #185830;
}


.box .icone i{
  margin-left: 0px;
  margin-top: -6px;
  color: white;

}



.ecobox-image img{
  width: 190px;
  height: 190px;
  margin-left: 10px;
}

.ecobox-subtitle h3{
  font-size: 22px;
  margin-left: 210px;
  margin-top: -190px;
}

.ecobox-subtitle p{
  font-size: 12px;
  margin-top: 10px;
  margin-left: 235px;

}

.ecobox-subtitle button{
  margin-left: 240px;
  margin-top: -30px;
  width: 70px;
  height: 22px;
  font-size: 9px;
  border-radius: 7px;
  

}

.queridos-semana h3{
  font-size: 25px;
}

.vitrine-queridos .queridos-box h3{
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 9px;
  margin-top: 12%;  
  color: black;   
}

.queridos-box p{
  font-family: 'Rubik';
  font-weight: 400;
  color: black;
  margin-top: 5%;
  font-size: 9px;
}
.preco-queridos p{
  font-weight: 600;
  text-align: center;
  font-size: 9px;
}

.queridos-box button{
  margin-top: 1px;
  width: 70px;
  height: 20px;
  font-size: 7px;
  border-radius: 6px;
  border-color: #409761;
  border-width: 1px;
  background-color: white;
  color: #000;
  font-weight: 700;
  cursor: pointer;
  margin-left: -35px;
  transition: all .2s;
  position: relative;
}

.queridos-box button:hover{
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
  color: #fff;
  background-color: #185830;
}

.vitrine-queridos{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 10px;

}

.queridos-box{
  text-align: center;
  background: #faf8f8;
  border-radius: 10px;
  border: .4rem;
  padding: 3rem;
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
  outline: none;
  color: dimgray;
  width: 40px;
  height: 180px;
  margin-left: 15px;
  margin-top: 30px;
  
}

.queridos-box img{
  width: 136px;
  height: 9rem;
  border-radius: 10px 10px 0 0;
  margin-left: -48px;
  margin-top: -49px;

}

.icone{
  font-size: 10px;
  background-color: #59a35e;
  width: 10px;
  height: 10px;
  text-align: center;
  padding: 5px;
  padding-left: 6px;
  border-radius: 6px;
  color: #fff;
  margin-top: -20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  margin-left: 50px;
 
}

.icone:hover{
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
  background-color: #185830;
}

.icone i{
  margin-left: 0px;
  margin-top: -6px;
  color: white;
}

footer{
  text-align: center;
  font-family: 'Rubik';
  margin-bottom: -25px;

}

.footer_top{
  background-color: #BFE1C1;
  color: #185830;
  padding: 1px;
  margin-top: 5%;
  width: 352px;
  height: 210px;
}

.footer_top button{
  background: #185830;
  color: #ffffff;
  width: 110px;
  height: 20px;
  font-size:10px ;
  border: none;
  font-family: 'Rubik';
  border-radius: 7px;
  cursor: pointer;
  margin-top: 4%;
}


.footer_bottom{
  background-color: #185830;
  color: #fff;
  padding: 10px;
  width: 334px;
  height: 70px;
  margin-left: -8px;
  font-family: 'Rubik';
}

.footer_bottom li{
  font-size: 9px;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  
}

.nav-list {
  display: flex;
  list-style: none;
  align-items: center;
}

.footer_bottom h3{
  color: #fff;
  font-size: 16px;
  font-family: 'Rubik';
  font-weight: 200;
  margin-top: -65px;
  text-decoration: underline 2px #fff;
  text-underline-offset: 15px;
  margin-left: 180px;
}

.footer_bottom p{
  font-family: 'Rubik';
  font-weight: 300;
  margin-left: 170px;
  font-size: 9px;
  margin-top: 20px;
}



.footer_box_container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
  gap:1rem;
}
.footer_box_container_box h3{
  font-size: 8px;
  padding: 1rem 0;
 
}

.footer_box_container_box a{
display:block;
font-size: 8px;
color: #185830;
padding: 0.3rem;
cursor:pointer;
text-decoration: none;
top: 5px;
}

.footer_box_container_box a {
  text-decoration: none;
  margin-bottom: 8px;
  
}

.footer_credit{
  text-align: center;
  font-size: 9px;
  color: #fff;
  
}
.footer_credit{
  color: #000000;
}

.footer_box_container_box i{
  font-size: 13px;

} 

.footer_bottom li{
  margin-top: 8px;
  font-weight: 500;
  margin-left: -20px;
  font-size: 9px;

}

.footer_bottom .list a{
  text-decoration: none;
  color: white;

}

.numero{
  margin-left: -508px;
  
}

.numero p{
  font-size: 14px;
  margin-top: 25px;
}

.seta-esquerda i{
  margin-left: -490px;
  margin-top: 20px;
  font-size: 15px;
}

.seta-direita i{
  margin-left: -530px;
  margin-top: 2px;
  font-size: 15px;
}



}
}
